<ion-card>
  <div class="image-container">
    <ion-skeleton-text animated style="height: 20rem; width: 100%;"></ion-skeleton-text>
  </div>
  <ion-card-header>
    <ion-card-title></ion-card-title>
    <ion-card-subtitle><ion-skeleton-text animated style="height: 1rem; width: 70%;"></ion-skeleton-text></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <h2><ion-skeleton-text animated style="width: 50px; height: 1rem;"></ion-skeleton-text></h2>
    <ion-buttons>
      <ion-button>
        <ion-skeleton-text animated style="height: 100%;"></ion-skeleton-text>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>