<ion-card>
  <div class="image-container">
    <ion-img [src]="item.image"></ion-img>
  </div>
  <ion-card-header>
    <ion-card-subtitle>{{ item.shortDesc }}</ion-card-subtitle>
    <ion-card-title>{{ item.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h2>RM{{ item.price | number: '0.2-2' }}</h2>
    <div *ngIf="!item?.quantity || item?.quantity <= 0">
      <ion-text color="primary" (click)="onQuantityPlus()">
        Add
      </ion-text>
    </div>
    <div *ngIf="item?.quantity > 0">
      <ion-icon name="remove-outline" color="success" (click)="onQuantityMinus()"></ion-icon>
      <ion-text class="ion-text-center quantity" color="success">{{ item?.quantity }}</ion-text>
      <ion-icon name="add-outline" color="success" (click)="onQuantityPlus()"></ion-icon>
    </div>
  </ion-card-content>
</ion-card>