<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ category?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="product-list" *ngIf="isLoading">
    <app-products-loading *ngFor="let item of dummy"></app-products-loading>
  </div>

  <div class="product-list" *ngIf="!isLoading">
    <app-product-card *ngFor="let item of products" [item]="item"></app-product-card>
  </div>
</ion-content>
