ion-card {
    box-shadow: none;
}

ion-img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

ion-card-header {
    padding: 10px 5px;

    ion-card-title {
        font-size: 0.7rem;
        margin: 0;
    }
}